name: Java CI with Gradle
on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'adopt'
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Start SUT
        run: |
         java -jar artifacts/app-ibank.jar -P:profile=test &
         sleep 10  # Увеличиваем время ожидания
      - name: Wait for app to be ready
        run: |
          for i in {1..10}; do
            if curl -s -o /dev/null -w "%{http_code}" http://localhost:9999 | grep -q "200\|404"; then
              echo "App is ready"
              exit 0
            fi
            echo "Waiting for app to start... attempt $i"
            sleep 3
          done
          echo "App failed to start"
          exit 1
      - name: Build with Gradle
        run: ./gradlew test --info -Dselenide.headless=true
